body{
  background-color: black;
}

.start_circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: white;
  top:50%;
  left: 50%;
  transform:translate(-50%, -50%);
  border-radius: 50%;
}