 /*배경색*/
body{
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}
 /*포커스에 대한 css*(위치 속성제외)*/
 @keyframes focus_on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

 /*클릭 이후 포커스에 대한 css*(위치 속성제외)*/
 @keyframes size_up {
  from {
    width: 470px;
    height: 470px;
  }
  to {
    width: 4000px;
    height: 4000px;
  }
}

/*클릭이전 검정 배경*/
.black_box{
  position: absolute;
  width: 5000px;
  height: 5000px;
  top:70%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: black;
  z-index: -1;
}

/*클릭이후 검정 배경*/
.black_box_out{
  position: absolute;
  width: 5000px;
  height: 5000px;
  top:70%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: black;
  z-index: -1;
}

/*포커스에 대한 css*(위치 속성제외)*/
.white_circle{
  position: absolute;
  width: 470px;
  height: 470px;
  top:63%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: -1;
  animation: focus_on 7s;
}

/*클릭이후 포커스*/
.white_circle_out{
  position: absolute;
  width: 470px;
  height: 470px;
  top:63%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: -1;
  animation: size_up 1s;
  animation-fill-mode: forwards;
}

  /*클릭이전의 자동차*/
.g_class_b {
  position: absolute;
  top:70%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 350px;
  height: 160px;
}

  /*클릭이후의 자동차*/
.g_class {
  position: absolute;
  top:70%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 360px;
  height: 165px;
  z-index: 1;
}
/*바퀴회전애니메이션*/
@keyframes wheel_rotate{
	100% {
    	transform: rotate(-360deg);
    }
}

@keyframes wheel_rotate2{
	100% {
    	transform: rotate(360deg);
    }
}
.wheel_control{
  position: absolute;
  top:70%;
  left: 50%;
  width: 100px; 
  height: 100px;
  background-color: rgba(247, 0, 0, 0);
  transform:translate(-50%, -50%);
  z-index: 1;
}
/*바퀴*/
/*
  top:72.6%;
  left: 42.83%;
*/
.w1{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68%;
  left: -87.5%;

  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}
.w2{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68.5%;
  left: 132.4%;
  
  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}


 /*레일 애니메이션 셋팅*/
@keyframes rail_start{
  from{
    left:-50%;
  }
  to{
    left:50%;
  }
}

/*레일*/
 .rail{
  position: absolute;
  width: 2000px;
  height: 400px;
  background-color: black;
  top:108.4%;
  left: 50%;
  transform:translate(-50%, -50%);
  animation-name : rail_start;
  animation-duration: 1s;
 }

 @keyframes fadeInLeft {
  0% {
    left: 50%;
  }
  to {
    left: -100%;
  }
}

/*지바겐 부스트!*/
 .g_class_boost {
  position: absolute;
  top:70%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 360px;
  height: 165px;
  z-index: 1;
  animation: fadeInLeft 3s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-fill-mode:forwards;

}

 /*레일부스트!*/
 .rail_boost{
  position: absolute;
  width: 2000px;
  height: 400px;
  background-color: black;
  top:108.4%;
  left: 50%;
  transform:translate(-50%, -50%);
 }
/*휠 부스트!*/
 .wheel_control_boost{
  position: absolute;
  top:70%;
  left: 50%;
  width: 100px; 
  height: 100px;
  background-color: rgba(247, 0, 0, 0);
  transform:translate(-50%, -50%);
  z-index: 1;
  animation: fadeInLeft 3s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-fill-mode:forwards;
}
.w1_boost{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68%;
  left: -87.5%;

  animation: wheel_rotate 0.1s linear infinite;
  transform-origin: 50% 50%;
  z-index: 2;
}
.w2_boost{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68.5%;
  left: 132.4%;
  
  animation: wheel_rotate 0.1s linear infinite;
  transform-origin: 50% 50%;
  z-index: 2;
}

/*///////////////////////////////////////////////바람///////////////////////////////////////////////*/
@keyframes wind1_move{
  from{
    left:-200%;
  }
  to{
    left:200%;
  }
}
.wind1{
  position: absolute;
  width: 400px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:10%;

  animation-name : wind1_move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind2_move{
  from{
    left:-400%;
  }
  to{
    left:200%;
  }
}
.wind2{
  position: absolute;
  width: 400px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:20%;

  animation-name : wind2_move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind3_move{
  from{
    left:-500%;
  }
  to{
    left:200%;
  }
}
.wind3{
  position: absolute;
  width: 400px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:30%;

  animation-name : wind3_move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind4_move{
  from{
    left:-600%;
  }
  to{
    left:200%;
  }
}
.wind4{
  position: absolute;
  width: 400px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:40%;

  animation-name : wind4_move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind5_move{
  from{
    left:-200%;
  }
  to{
    left:200%;
  }
}
.wind5{
  position: absolute;
  width: 400px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:50%;

  animation-name : wind5_move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind6_move{
  from{
    left:-500%;
  }
  to{
    left:500%;
  }
}
.wind6{
  position: absolute;
  width: 400px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:60%;

  animation-name : wind6_move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind7_move{
  from{
    left:-200%;
  }
  to{
    left:400%;
  }
}
.wind7{
  position: absolute;
  width: 400px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:70%;

  animation-name : wind7_move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind8_move{
  from{
    left:-1000%;
  }
  to{
    left:400%;
  }
}
.wind8{
  position: absolute;
  width: 600px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:20%;

  animation-name : wind8_move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind9_move{
  from{
    left:-1000%;
  }
  to{
    left:400%;
  }
}
.wind9{
  position: absolute;
  width: 600px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:30%;

  animation-name : wind9_move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind10_move{
  from{
    left:-300%;
  }
  to{
    left:400%;
  }
}
.wind10{
  position: absolute;
  width: 600px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:40%;

  animation-name : wind10_move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
@keyframes wind11_move{
  from{
    left:-400%;
  }
  to{
    left:200%;
  }
}
.wind11{
  position: absolute;
  width: 600px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  top:55%;

  animation-name : wind11_move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
/*큰 바람*/
@keyframes curtain1{
  from{
    left:-1300%;
  }
  to{
    left:50%;
  }
}
.curtain1{
  position: absolute;
  width: 2000px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  top:7%;
  left:-100%;

  transform:translate(-50%, -50%);
  animation-name : curtain1;
  animation-duration: 1.5s;
  transition-timing-function: linear;
  animation-fill-mode:forwards;
  animation-delay: 5.5s;
}

@keyframes curtain2{
  from{
    left:-800%;
  }
  to{
    left:50%;
  }
}
.curtain2{
  position: absolute;
  width: 2000px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  top:21%;
  left:-100%;

  transform:translate(-50%, -50%);
  animation-name : curtain2;
  animation-duration: 1.5s;
  transition-timing-function: linear;
  animation-fill-mode:forwards;
  animation-delay: 5.5s;
}
@keyframes curtain3{
  from{
    left:-1000%;
  }
  to{
    left:50%;
  }
}
.curtain3{
  position: absolute;
  width: 2000px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  top:35%;
  left:-100%;

  transform:translate(-50%, -50%);
  animation-name : curtain3;
  animation-duration: 1.5s;
  transition-timing-function: linear;
  animation-fill-mode:forwards;
  animation-delay: 5.5s;
}
@keyframes curtain4{
  from{
    left:-750%;
  }
  to{
    left:50%;
  }
}
.curtain4{
  position: absolute;
  width: 2000px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  top:49%;
  left:-100%;

  transform:translate(-50%, -50%);
  animation-name : curtain4;
  animation-duration: 1.5s;
  transition-timing-function: linear;
  animation-fill-mode:forwards;
  animation-delay: 5.5s;
}
@keyframes curtain5{
  from{
    left:-1350%;
  }
  to{
    left:50%;
  }
}
.curtain5{
  position: absolute;
  width: 2000px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  top:60%;
  left:-100%;

  transform:translate(-50%, -50%);
  animation-name : curtain5;
  animation-duration: 1.5s;
  transition-timing-function: linear;
  animation-fill-mode:forwards;
  animation-delay: 5.5s;
}
@keyframes curtain6{
  from{
    left:-850%;
  }
  to{
    left:50%;
  }
}
.curtain6{
  position: absolute;
  width: 2000px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  top:74%;
  left:-100%;

  transform:translate(-50%, -50%);
  animation-name : curtain6;
  animation-duration: 1.5s;
  transition-timing-function: linear;
  animation-fill-mode:forwards;
  animation-delay: 5.5s;
}
/*////////////////////////////////////////////바람 끝///////////////////////////////////////////////*/
  /*건물 애니메이션 셋팅*/
  @keyframes c1_move{
    from{
      left:-200%;
    }
    to{
      left:200%;
    }
  }
  @keyframes c2_move{
    from{
      left:-2500%;
    }
    to{
      left:140%;
    }
  }
  /*나무 애니메이션 셋팅*/
  @keyframes t1_move{
    from{
      left:-150%;
    }
    to{
      left:250%;
    }
  }
  @keyframes t2_move{
    from{
      left:-30%;
    }
    to{
      left:370%;
    }
  }
  @keyframes t3_move{
    from{
      left:-450%;
    }
    to{
      left:160%;
    }
  }
  @keyframes t4_move{
    from{
      left:-2500%;
    }
    to{
      left:110%;
    }
  }
  /*건물*/
  .c1{
    position: absolute;
    width: 350px;
    height: 300px;
    top:46%;
    animation-name : c1_move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    z-index: -1;
    transition-timing-function: linear;
  }
  .c2{
    position: absolute;
    width: 350px;
    height: 300px;
    top:46%;
    animation-name : c2_move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    z-index: -1;
    transition-timing-function: linear;
  }
  /*나무*/
  .t1{
    position: absolute;
    width: 220px;
    height: 200px;
    top:55%;
    animation-name : t1_move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    z-index: -1;
    transition-timing-function: linear;
  }
  .t2{
    position: absolute;
    width: 220px;
    height: 200px;
    top:55%;
    animation-name : t2_move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    z-index: -1;
    transition-timing-function: linear;
  }
  .t3{
    position: absolute;
    width: 220px;
    height: 200px;
    top:55%;
    animation-name : t3_move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    z-index: -1;
    transition-timing-function: linear;
  }
  .t4{
    position: absolute;
    width: 220px;
    height: 200px;
    top:55%;
    animation-name : t4_move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    z-index: -1;
    transition-timing-function: linear;
  }
 /*글자에 대한 css*(위치 속성제외)*/
 @import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
.click_to_start{
  text-align: center;
  line-height: 700px;

  color: rgb(0, 0, 0);
  font-size: 40px;
  font-family: 'Knewave', cursive;
}

 /*글자(스플래쉬시작)에 대한 css*(위치 속성제외)*/
@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

 /*글자(스플래쉬시작)에 대한 css*(위치 속성제외)*/
.click_to_start_out{
  text-align: center;
  line-height: 700px;
  animation: fadeout 0.5s;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-family: 'Knewave', cursive;
  animation-fill-mode: forwards;
}

/*마우스를 올릴시 효과*/
.g_class_b:hover {
  width: 360px;
  height: 165px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@드라이브 화면@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*지바겐 드라이브!*/
.g_class_drive {
  position: absolute;
  top:70%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 360px;
  height: 165px;
  z-index: 1;
  animation: fadeInLeft 5s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode:forwards;

}

@keyframes rail_drive1_fadeout {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

 /*레일드라이브!*/
 .rail_drive1{
  position: absolute;
  width: 2000px;
  height: 400px;
  background-color: black;
  top:108.4%;
  left: 50%;
  transform:translate(-50%, -50%);
  animation: rail_drive1_fadeout 1s;
  animation-delay: 4s;
  animation-fill-mode:forwards;
 }
/*휠 드라이브!*/
 .wheel_control_drive{
  position: absolute;
  top:70%;
  left: 50%;
  width: 100px; 
  height: 100px;
  background-color: rgba(247, 0, 0, 0);
  transform:translate(-50%, -50%);
  z-index: 1;
  animation: fadeInLeft 5s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode:forwards;
}
.w1_drive{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68%;
  left: -87.5%;

  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 2;
}
.w2_drive{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68.5%;
  left: 132.4%;
  
  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 2;
}

 /*@@@@@@@@@@@@@@@@@@@@@@@@@전환@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
 /*장면*/
@keyframes scene_move {
  0% {
      width:3000px;
      height: 3000px;
  }
  35% {
    width:0px;
    height: 0px;    
  }
  65% {
    width:0px;
    height: 0px;    
  }
  100%{
    width:3000px;
    height: 3000px;  
  }
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@드라이브2@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@로드 시작@@@@@@@@@@@@@@@@@@@@@@@@*/
@keyframes fadein_drive2 {
  from {
      opacity: 0;
      visibility: hidden;
  }
  to {
      opacity: 1;
      visibility: visible;
  }
}
.rail_drive2{
  position: absolute;
  border-bottom: 400px solid black;
  border-left: 12000px solid transparent;
  border-right: 0px solid transparent;
  width: 2000px;
  top:90%;
  left: 80%;
  transform:translate(-50%, -50%);
  animation: fadein_drive2 1s;

  visibility: hidden;
  animation-fill-mode:forwards;
 }
 .rail_drive22{
  position: absolute;
  border-bottom: 400px solid rgb(255, 255, 255);
  border-left: 7000px solid transparent;
  border-right: 0px solid transparent;
  width: 2000px;
  top:102%;
  left: 80%;
  transform:translate(-50%, -50%);
 }
 .t_drive1{
  position: absolute;
  width: 300px;
  height: 300px;
  top:50%;
  left: 70%;
  z-index: -1;
  animation: fadein_drive2 2s;

  visibility: hidden;
  animation-fill-mode:forwards;
}
.t_drive2{
  position: absolute;
  width: 380px;
  height: 380px;
  top:45%;
  left: 5%;
  z-index: -1;
  animation: fadein_drive2 2s;

  visibility: hidden;
  animation-fill-mode:forwards;
}
/*@@@@@@@@@@@@@@@@@@@@@로드 끝@@@@@@@@@@@@@@@@@@@@@@@@*/
@keyframes fadeInLeft2 {
  0% {
    left: 80%;
    top:80%;
    visibility: hidden;
  }
  to {
    left: -100%;
    top:105%;
    visibility: visible;
    width: 105px;
    height: 105px;
  }
}
@keyframes fadeInLeft2_w {
  0% {
    left: 80%;
    top:80%;
    visibility: hidden;
  }
  to {
    left: -100%;
    top:105%;
    visibility: visible;
    width: 390px;
    height: 190px;
  }
}
@keyframes wheel_rotate{
	100% {
     transform: rotate(-360deg);
  }
}
.g_class_drive2 {
  position: absolute;
  top:80%;
  left: 80%;
  transform:translate(-50%, -50%);
  width: 380px;
  height: 170px;
  z-index: 1;
  animation: fadeInLeft2_w 5s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
  visibility: hidden;
  animation-delay: 4s;

}
.wheel_control_drive2{
  position: absolute;
  top:80%;
  left: 80%;
  width: 100px; 
  height: 100px;
  background-color: rgba(247, 0, 0, 0);
  transform:translate(-50%, -50%);
  z-index: 1;

  animation: fadeInLeft2 5s forwards;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
  visibility: hidden;
  animation-delay: 4s;
}

.w1_drive2{
  position: absolute;
  width: 55px;
  height: 55px;
  top:73%;
  left: -27%;

  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}
.w2_drive2{
  position: absolute;
  width: 35px;
  height: 35px;
  top:74.7%;
  left: 176%;
  
  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}

@keyframes typing {
  from {
    width: 0
  }
}
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.typing_drive2{
  position: absolute;
  top:20%;
  left: 23%;
  width: 2000px;
  font-size: 80px;
  font-family: 'Russo One', sans-serif;
  animation: typing 5s steps(70);
  white-space: nowrap;
  overflow: hidden;
}

@keyframes for_scene_3 {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.go_to_scene_3{
  position: absolute;
  width: 10000px;
  height: 3000px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  top: 70%;
  left: 50%;

  visibility: hidden;
  animation: for_scene_3 3s;
  transform:translate(-50%, -50%);
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@드라이브3@@@@@@@@@@@@@@@@@@@@@@@@@*/
.rail_drive3{
  position: absolute;
  border-bottom: 1800px solid black;
  border-left:  0px solid transparent;
  border-right: 30000px solid transparent;
  width: 2000px;
  top:90%;
  left: 30%;
  transform:translate(-50%, -50%);
 }
 .rail_drive33{
  position: absolute;
  border-bottom: 2400px solid rgb(255, 255, 255);
  border-left:  0px solid transparent;
  border-right: 29000px solid transparent;
  width: 2000px;
  top:120%;
  left: 90%;
  transform:translate(-50%, -50%);
 }
 /*@@@@@@@@@@@@지바겐드라이브3@@@@@@@@@@@@@@*/
 @keyframes fadeInLeft3 {
  0% {
    left: 110%;
    top:85%;
    width: 440px;
    height: 210px;
    visibility: hidden;
  }
  to {
    left: -100%;
    top:47%;
    visibility: visible;
    width: 280px;
    height: 110px;
  }
}
@keyframes fadeInLeft3_w {
  0% {
    left: 110%;
    top:85%;
    visibility: hidden;
  }
  to {
    left: -99%;
    top:47%;
    visibility: visible;
    width: 45px;
    height: 45px;
  }
}
 .g_class_drive3{
  position: absolute;
  width: 440px;
  height: 210px;
  z-index: 1;
  top: 80%;
  left: 110%;

  animation : fadeInLeft3 5s;
  visibility: hidden;
  animation-delay: 1s;
 }
 .wheel_control_drive3{
  position: absolute;
  top: 80%;
  left: 110%;
  width: 100px; 
  height: 100px;
  background-color: rgba(247, 0, 0, 0);
  transform:translate(-50%, -50%);
  z-index: 1;

  animation : fadeInLeft3_w 5s;
  visibility: hidden;
  animation-delay: 1s;
}

.w1_drive3{
  position: absolute;
  width: 37px;
  height: 37px;
  top:192%;
  left: 117%;

  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}
.w2_drive3{
  position: absolute;
  width: 50px;
  height: 50px;
  top:200%;
  left: 285%;
  
  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}

.t_drive3{
  position: absolute;
  width: 400px;
  height: 400px;
  top:45%;
  left: 75%;
  z-index: -1;
  transform:rotate(2deg);

}
.c_drive3{
  position: absolute;
  width: 250px;
  height: 250px;
  top:52%;
  left: 5%;
  z-index: -1;

}
.go_to_scene_4{
  position: absolute;
  width: 10000px;
  height: 3000px;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  top: 70%;
  left: 50%;

  visibility: hidden;
  animation: for_scene_3 3s;
  transform:translate(-50%, -50%);
  animation-delay: 4s;
  animation-fill-mode: forwards;
  z-index: 3;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@드라이브4@@@@@@@@@@@@@@@@@@@@@@@@@*/
  /*드라이브4__지바겐*/
  @keyframes move_drive4_g {
    0% {
      width: 330px;
      height: 220px;;
      top: 90%;
      left: 20%;
    }
    50%{
      width: 330px;
      height: 220px;;
      top: 90.1%;
      left: 19.98%;
    }
    100%{
      width: 330px;
      height: 220px;;
      top: 89.9%;
      left: 20.02%;
    }
  }
.g_class_drive4{
  position: absolute;
  width: 330px;
  height: 220px;;
  top: 90%;
  left: 20%;
  transform:translate(-50%, -50%);
  animation: move_drive4_g 0.1s infinite;
  z-index: 2;
 }

  /*드라이브4__로드*/
 .drive4_car1_background{
  position: absolute;
  width: 2000px;
  height: 2000PX;
  top: 0%;
  left: 40%;

  background-color: rgb(0, 0, 0);
  z-index: 0;
 }
 @keyframes rail_drive4{
  0%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
 }
 .rail_drive4_2{
  position: absolute;
  border-bottom: 500px solid rgb(0, 0, 0);
  border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
  width: 150px;
  top:125%;
  left:19.9%;
  transform:translate(-50%, -50%);
  z-index: -1;

  animation: rail_drvie4 forwards;
  animation-delay: 5s;
 }
 /*드라이브4_나무*/
 @keyframes move_drive4_t1 {
  0% {
    width: 350px;
    height: 350px;
    top:85%;
    left:45%;
  }
  50%{
    width: 60px;
    height: 60px;
    top:76%;
    left:15%;
  }
  100%{
    width: 60px;
    height: 60px;
    top:76%;
    left:15%;
  }
}
@keyframes move_drive4_t3 {
  0% {
    width: 350px;
    height: 350px;
    top:85%;
    left:-15%;
  }
  50%{
    width: 60px;
    height: 60px;
    top:76%;
    left:18%;
  }
  100%{
    width: 60px;
    height: 60px;
    top:76%;
    left:18%;
  }
}
 .t1_drive4{
  position: absolute;
  width: 250px;
  height: 250px;
  top:85%;
  left:45%;
  z-index: -1;
  animation: move_drive4_t1 3s linear infinite;
}
.t2_drive4{
  position: absolute;
  width: 250px;
  height: 250px;
  top:85%;
  left:45%;
  z-index: -1;
  animation: move_drive4_t1 3s linear infinite;
  animation-delay: 2s;
}
.t3_drive4{
  position: absolute;
  width: 250px;
  height: 250px;
  top:85%;
  left:-15%;
  z-index: -1;
  animation: move_drive4_t3 2.5s linear infinite;
  animation-delay: 1s;
}
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.typing_drive4{
  position: absolute;
  top:20%;
  left: 10%;
  width: 2000px;
  font-size: 80px;
  font-family: 'Russo One', sans-serif;
  white-space: nowrap;
}

@keyframes logo{
  0%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
} 
.logo3{
  position: absolute;
  width: 300px;
  height: 190px;
  top: 10%;
  left:44%;
  
  visibility: hidden;
  animation: logo ;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
}
.logo1{
  position: absolute;
  width: 280px;
  height: 200px;
  top: 10%;
  left:64%;

  visibility: hidden;
  animation: logo;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}
.logo2{
  position: absolute;
  width: 290px;
  height: 200px;
  top: 10%;
  left:82%;

  visibility: hidden;
  animation: logo;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@드라이브5@@@@@@@@@@@@@@@@@@@@@@@@@*/
.rail_drive5{
  position: absolute;
  background-color: black;
  width: 3000px;
  height: 100px;
  top: 59%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.rail_drive5_2{
  position: absolute;
  background-color: black;
  width: 3000px;
  height: 100px;
  top: 126%;
  left: 50%;
  transform:translate(-50%, -50%);
}
/*자동차*/
@keyframes g_move_5_1{
  0%{
    left: 130%;
  }
  100%{
    left: -130%;
  }
} 
.g_class_drive5_1{
  position: absolute;
  top:42%;
  left: 130%;
  transform:translate(-50%, -50%);
  width: 360px;
  height: 165px;
  z-index: 1;
  animation : g_move_5_1 5s; 
  animation-delay: 1s;
}
.wheel_control_drive5_1{
  position: absolute;
  top:42%;
  left: 130%;
  width: 100px; 
  height: 100px;
  background-color: rgba(247, 0, 0, 0);
  transform:translate(-50%, -50%);
  z-index: 1;
  animation : g_move_5_1 5s; 
  animation-delay: 1s;
}
.w1_drive5_1{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68%;
  left: -87.5%;

  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}
.w2_drive5_11{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68.5%;
  left: 132.4%;
  
  animation: wheel_rotate 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}
@keyframes g_move_5_2{
  0%{
    right: 130%;
  }
  100%{
    right: -130%;
  }
} 
.g_class_drive5_2{
  position: absolute;
  top:109%;
  right: 130%;
  transform:translate(-50%, -50%);
  width: 360px;
  height: 165px;
  z-index: 1;
  animation: g_move_5_2 5s ;

  animation-delay: 2s;
}
@keyframes rail_drive5_3{
  0%{
    left: 0%;
  }
  100%{
    left: 260%;
  }
} 
.rail_drive5_3{
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 5000px;
  height: 400px;
  top: 65%;
  left: 0%;
  animation: rail_drive5_3 2.25s linear forwards;
  animation-delay: 2.65s;
}
.wheel_control_drive5_2{
  position: absolute;
  top:109%;
  right: 130%;
  width: 100px; 
  height: 100px;
  background-color: rgba(247, 0, 0, 0);
  transform:translate(-50%, -50%);
  z-index: 1;
  animation: g_move_5_2 5s ;
  animation-delay: 2s;
}
.w1_drive5_2{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68%;
  right: 392%;

  animation: wheel_rotate2 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}
.w2_drive5_22{
  position: absolute;
  width: 50px;
  height: 50px;
  top:68.5%;
  right: 173%;
  
  animation: wheel_rotate2 0.3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}

.typing_drive5_1{
  position: absolute;
  top:20%;
  left: 10%;
  width: 2000px;
  font-size: 80px;
  font-family: 'Russo One', sans-serif;
  white-space: nowrap;
}
.typing_drive5_2{
  position: absolute;
  top:20%;
  left: 78%;
  width: 2000px;
  font-size: 80px;
  font-family: 'Russo One', sans-serif;
  white-space: nowrap;
}
.typing_drive5_3{
  position: absolute;
  top: 88%;
  left: 10%;
  width: 2000px;
  font-size: 80px;
  font-family: 'Russo One', sans-serif;
  white-space: nowrap;
}
@keyframes typing_drive5_4{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
} 
.typing_drive5_4{
  position: absolute;
  top:88%;
  left: 78.3%;
  width: 2000px;
  font-size: 80px;
  font-family: 'Russo One', sans-serif;
  white-space: nowrap;
  animation: typing_drive5_4 1s infinite;
  animation-delay: 3;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@드라이브6@@@@@@@@@@@@@@@@@@@@@@@@@*/
.go_to_scene_5{
  position: absolute;
  width: 10000px;
  height: 3000px;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  top: 70%;
  left: 50%;

  visibility: hidden;
  animation: for_scene_3 1s;
  transform:translate(-50%, -50%);
  animation-delay: 5s;
  animation-fill-mode: forwards;
  z-index: 3;
}

.rail_drive6{
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 45px;
  height: 700px;
  top: 70%;
  left: 31.65%;
  transform:translate(-50%, -50%);
  z-index: 1;
}

.rail_drive6_1{
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 45px;
  height: 700px;
  top: 70%;
  left: 68.25%;
  transform:translate(-50%, -50%);
  z-index: 1;
}

.rail_drive6_2{
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 2000px;
  height: 63px;
  top: 87.8%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index: 1;
}

.sea{
  position: absolute;
  background-color: rgb(0, 255, 221);
  width: 2000px;
  height: 300px;
  top: 130%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index: 1;
}

@keyframes wave_move{
  0%{
    top: 122%;
  }
  50%{
    top: 121%;
  }
  100%{
    top: 122%;
  }
} 
.wave1{
  position: absolute;
  background-color: rgb(88, 162, 190);
  width: 800px;
  height: 200px;
  border-radius: 50%;
  top: 122%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index: 1;

  animation: wave_move 2.5s infinite;
}
.wave2{
  position: absolute;
  background-color: rgb(88, 162, 190);
  width: 800px;
  height: 200px;
  border-radius: 50%;
  top: 122%;
  left: 33%;
  transform:translate(-50%, -50%);
  z-index: 1;

  animation: wave_move 3s infinite;
}
.wave3{
  position: absolute;
  background-color: rgb(88, 162, 190);
  width: 800px;
  height: 200px;
  border-radius: 50%;
  top: 122%;
  left: 67%;
  transform:translate(-50%, -50%);
  z-index: 1;

  animation: wave_move 3s infinite;
  animation-delay: 1s;
}
.wave4{
  position: absolute;
  background-color: rgb(88, 162, 190);
  width: 800px;
  height: 200px;
  border-radius: 50%;
  top: 122%;
  left: 17%;
  transform:translate(-50%, -50%);
  z-index: 1;

  animation: wave_move 3s infinite;
  animation-delay: 1s;
}
.wave5{
  position: absolute;
  background-color: rgb(88, 162, 190);
  width: 800px;
  height: 200px;
  border-radius: 50%;
  top: 122%;
  left: 83%;
  transform:translate(-50%, -50%);
  z-index: 1;

  animation: wave_move 3s infinite;
  animation-delay: 2s;
}
.wave6{
  position: absolute;
  background-color: rgb(88, 162, 190);
  width: 800px;
  height: 200px;
  border-radius: 50%;
  top: 122%;
  left: 5%;
  transform:translate(-50%, -50%);
  z-index: 1;

  animation: wave_move 3s infinite;
  animation-delay: 2s;
}
.wave7{
  position: absolute;
  background-color: rgb(88, 162, 190);
  width: 800px;
  height: 200px;
  border-radius: 50%;
  top: 122%;
  left: 100%;
  transform:translate(-50%, -50%);
  z-index: 1;

  animation: wave_move 3s infinite;
  animation-delay: 3s;
}
.bridge{
  position: absolute;
  width: 1400px;
  height: 700px;
  top: 70%;
  left: 50%;
  transform:translate(-50%, -50%);
  animation-delay: 3s;
}

@keyframes g_class_drive6_move{
  0%{
    left: 200%;
  }
  100%{
    left: -100%;
  }
} 

.g_class_drive6{
  position: absolute;
  width: 360px;
  height: 165px;
  top: 73.5%;
  left: 50%;
  transform:translate(-50%, -50%);

  animation: g_class_drive6_move 7s forwards;
}

.wheel_control_drive6{
  position: absolute;
  width: 360px;
  height: 165px;
  top: 73.5%;
  left: 50%;
  background-color: rgba(247, 0, 0, 0);
  transform:translate(-50%, -50%);
  z-index: 0;

  animation: g_class_drive6_move 7s  forwards;
}

.w1_drive6{
  position: absolute;
  width: 50px;
  height: 50px;
  top:62%;
  left: 11.8%;
  animation: wheel_rotate 0.2s linear infinite forwards;
  transform-origin: 50% 50%;
}
.w2_drive6{
  position: absolute;
  width: 50px;
  height: 50px;
  top:62%;
  left: 73%;
  
  animation: wheel_rotate 0.2s linear infinite;
  transform-origin: 50% 50%;
}

.typing_drive_6{
  position: absolute;
  top:25%;
  left: 90%;
  width: 2000px;
  font-size: 80px;
  font-family: 'Russo One', sans-serif;
  white-space: nowrap;
  transform:translate(-50%, -50%);
}

.typing_drive_6_1{
  position: absolute;
  top:35%;
  left: 92.5%;
  width: 2000px;
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  white-space: nowrap;
  transform:translate(-50%, -50%);
  animation: typing_drive5_4 2s infinite;
  animation-delay: 3;
}

.go_to_scene_6{
  position: absolute;
  width: 10000px;
  height: 3000px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  top: 70%;
  left: 50%;

  visibility: hidden;
  animation: for_scene_3 1s;
  transform:translate(-50%, -50%);
  animation-delay: 4s;
  animation-fill-mode: forwards;
  z-index: 3;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@드라이브7@@@@@@@@@@@@@@@@@@@@@@@@@*/
.rail_drive7{
  position: absolute;
  border-bottom: 5000px solid black;
  border-left: 8000px solid transparent;
  border-right: 0px solid transparent;
  height: 500px;
  width: 2000px;
  top:90%;
  left: 80%;
  transform:translate(-50%, -50%);
}

@keyframes g_class_drive7_move{
  0%{
    left: 100%;
    top:-37%;
  }
  100%{
    left: -200%;
    top:480%;
  }
} 

.g_class_drive7{
  position: absolute;
  width: 360px;
  height: 165px;
  top: 48%;
  left: 50%;
  transform: rotate(-32deg);

  animation: g_class_drive7_move 6s infinite;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@드라이브7@@@@@@@@@@@@@@@@@@@@@@@@@*/
@keyframes ground8_move{
  0%{
    top:115%;
  }
  100%{
    top:200%;
  }
} 
.rail_drive8_1{
  position: absolute;
  background-color: black;
  height: 300px;
  width: 280px;
  top:115%;
  left: 93%;
  transform:translate(-50%, -50%);

  animation: ground8_move 2s forwards;
  animation-delay: 1.5s;
}
.rail_drive8_2{
  position: absolute;
  background-color: black;
  height: 300px;
  width: 280px;
  top:115%;
  left: 78.5%;
  transform:translate(-50%, -50%);
  animation: ground8_move 2s forwards;
  animation-delay: 1.6s;
}
.rail_drive8_3{
  position: absolute;
  background-color: black;
  height: 300px;
  width: 280px;
  top:115%;
  left: 64%;
  transform:translate(-50%, -50%);
  animation: ground8_move 2s forwards;
  animation-delay: 1.7s;
}
.rail_drive8_4{
  position: absolute;
  background-color: black;
  height: 300px;
  width: 280px;
  top:115%;
  left: 50%;
  transform:translate(-50%, -50%);
  animation: ground8_move 2s forwards;
  animation-delay: 1.8s;
}
.rail_drive8_5{
  position: absolute;
  background-color: black;
  height: 300px;
  width: 280px;
  top:115%;
  left: 36%;
  transform:translate(-50%, -50%);
  animation: ground8_move 2s forwards;
  animation-delay: 2s;
}
.rail_drive8_6{
  position: absolute;
  background-color: black;
  height: 300px;
  width: 280px;
  top:115%;
  left: 21.4%;
  transform:translate(-50%, -50%);
  animation: ground8_move 2s forwards;
  animation-delay: 2.1s;
}
.rail_drive8_7{
  position: absolute;
  background-color: black;
  height: 300px;
  width: 280px;
  top:115%;
  left: 7%;
  transform:translate(-50%, -50%);
  animation: ground8_move 2s forwards;
  animation-delay: 2.2s;
}

@keyframes g_class_drive8_move{
  0%{
    left: 180%;
  }
  100%{
    left: -150%;
  }
} 
.g_class_drive8{
  position: absolute;
  width: 360px;
  height: 165px;
  top: 83.5%;
  left: 50%;
  z-index: 1;
  transform:translate(-50%, -50%);

  animation: g_class_drive8_move 7s;
}
.wheel_control_drive8{
  position: absolute;
  width: 360px;
  height: 165px;
  top: 83.5%;
  left: 50%;
  background-color: rgba(247, 0, 0, 0);
  transform:translate(-50%, -50%);
  z-index: 1;

  animation: g_class_drive8_move 7s;
}

.w1_drive8{
  position: absolute;
  width: 50px;
  height: 50px;
  top:62%;
  left: 11.85%;
  animation: wheel_rotate 0.2s linear infinite forwards;
  transform-origin: 50% 50%;
}
.w2_drive8{
  position: absolute;
  width: 50px;
  height: 50px;
  top:62%;
  left: 72.8%;
  
  animation: wheel_rotate 0.2s linear infinite;
  transform-origin: 50% 50%;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@드라이브9@@@@@@@@@@@@@@@@@@@@@@@@@*/
.rail_drive9{
  position: absolute;
  height: 600px;
  width: 900px;
  top:90%;
  left: 80%;
  transform:translate(-50%, -50%);
}

@keyframes g_class_drive9_move{
  0%{
    top: 177%;
    left: 180%;
  }
  100%{
    left: -130%;
    top: -137.5%;
  }
} 

.g_class_drive9{
  position: absolute;
  width: 360px;
  height: 165px;
  top: 75%;
  left: 80%;
  z-index: 1;
  transform:translate(-50%, -50%);
  transform: rotate(19.5deg);

  animation: g_class_drive9_move 5s infinite forwards;

}

.byebye{
  font-size: 70px;;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 380px;
}